* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #2C2C2C;
    color: #D0D0D0;
    overflow-x: hidden; 
}

.nav-bar {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
    color: #D0D0D0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-bar h2 {
    text-align: left !important;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar li {
    margin: 0 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    padding: 10px 20px;
    transition: all 1s;
}

.nav-bar a:hover {
    color: red;
    text-decoration: underline solid red;
    transform: translateY(-10px);
}

.left {
    flex-grow: 1;
}

#home {
    height: 500px;
    width: 100%;
    background-color: #000;
    text-align: center;
    position: relative;
}

#home h1, #home .e1, #home .e2, #home p {
    position: absolute;
}

#home h1 {
    left: 35%;
    top: 50px;
    color: red;
    font-size: 50px;
}

#home .e1 {
    left: 60%;
}

#home .e2 {
    top: 200px;
    left: 20%;
}

#home p {
    top: 400px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 25px;
}

#about {
    width: 100%;
    background-color: #2C2C2C;
    height: 650px;
    display: grid;
    text-align: center;
    gap: 10px;
}

#about h2 {
    font-size: 28px;
    color: #444;
    margin-bottom: 15px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.head {
    color: #E64A19;
}

#team {
    height: 650px;    
    width: 100%;
    color: white;
    display: grid;
    background-color: #000;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    align-items: center;
}

#team h1 {
    grid-column: span 3;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: red;
}

.img-container {
    perspective: 1000px;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.img-container:hover .img-wrapper {
    transform: rotateY(180deg);
}

.img-front, .img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-front {
    background-size: cover;
}

.img-back {
    background: dimgray;
    transform: rotateY(180deg);
    font-size: 1rem;
}

.Coach {
    color: orangered;
    display: inline-block;
}

.Trainer {
    width: 100%;
    color: darkred;
    font-weight: 700;
    display: block;
}

#membership {
    width: 100%;
    background-color: #2C2C2C;
    color: #E0E0E0;
    text-align: center;
    padding: 40px;
}

#membership h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red;
}
.plan-item:hover{
    transform: translateY(-10px);

}

.plan {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan-item, .back {
    background-color: #333333;
    color: #E0E0E0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.plan-item:hover, .back:hover {
    background-color: #4A4A4A;
}

.plan-item h3 {
    font-size: 1.5em;
}

#location {
    width: 100%;
    height: 525px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#location h2 {
    text-align: center;
    color: red;
}

#location iframe {
    width: 1180px;
    height: 450px;
}

.contact {
    width: 100%;
    background: linear-gradient(75deg, #2C2C2C, #3D3D3D);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 20px;
    background-color: #1F1F1F;
    color: #E0E0E0;
}

.contact-text h2 {
    font-size: 70px;
    line-height: 1;
    color: #E0E0E0;
}

.contact-text h2 span {
    color: gray;
}

.contact-text h3 {
    font-size: 50px;
}

.contact-text h3 span {
    color: #E0E0E0;
}

.contact-text h4 {
    margin: 15px 0;
    color: #E0E0E0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h4 span {
    font-size: 50px;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #00BFFF;
    color: #00BFFF;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.contact-icons i:hover {
    background: #00BFFF;
    color: #1F1F1F;
    box-shadow: 0 0 20px #00BFFF;
}

.contact-list {
    list-style-type: none;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #2C2C2C;
    color: #E0E0E0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #FF5722;
    color: #E0E0E0;
    border-radius: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.contact-form form .send:hover {
    background: #E64A19;
    color: #E0E0E0;
    box-shadow: 0 0 20px rgb(255, 81, 0);
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: azure;
    display: flex;
}
@media (max-width: 768px) {
    .nav-bar {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .nav-bar ul {
        flex-direction: column;
    }

    .nav-bar li {
        margin: 10px 0;
    }

    #home h1 {
        font-size: 30px;
        left: 10%;
        top: 20px;
    }

    #home p {
        font-size: 18px;
        top: 300px;
    }

    #about {
        height: auto;
        padding: 10px;
    }

    #about h2 {
        font-size: 24px;
    }

    #team {
        grid-template-columns: 1fr;
        height: auto;
        padding: 10px;
    }

    .img-wrapper {
        height: 150px;
    }

    #membership {
        padding: 20px;
    }

    #membership h1 {
        font-size: 1.8em;
    }

    #location iframe {
        height: 300px;
    }

    .contact-text h2 {
        font-size: 50px;
    }

    .contact-text h3 {
        font-size: 30px;
    }

    .contact-text h4 {
        font-size: 18px;
    }

    .contact-icons i {
        width: 30px;
        height: 30px;
        font-size: 18px;
        margin: 20px 10px;
    }

    .contact-form form input, 
    .contact-form form textarea {
        width: 100%;
        padding: 14px;
    }

    .contact-form form .send {
        padding: 12px 50px;
        font-size: 16px;
    }

    footer {
        height: auto;
        padding: 10px;
        text-align: center;
    }
}

